<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.pyload.anroid.client"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="5" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application android:label="@string/app_name" android:name="pyLoadApp" android:icon="@drawable/icon">
        <activity android:name=".pyLoad"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="OverviewActivity"></activity>
        <activity android:name="QueueActivity"></activity>
        <activity android:name="CollectorActivity"></activity>
        <activity android:name="Preferences" android:label="@string/pref_name"></activity>
        <activity android:name="AddLinksActivity">
        </activity>

    </application>
</manifest>