<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.pyload.android.client"
      android:versionCode="7"
      android:versionName="0.1.6">
    <uses-sdk android:minSdkVersion="5" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application android:label="@string/app_name" android:name="pyLoadApp" android:icon="@drawable/icon">
        <activity android:name=".pyLoad"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
  				<action android:name="android.intent.action.VIEW"/>
   				<category android:name="android.intent.category.DEFAULT" />
			   	<category android:name="android.intent.category.BROWSABLE"/>
			   	<data android:scheme="http" android:host="*" android:pathPattern=".*\\.dlc"/>
			  	<data android:scheme="https" android:host="*" android:pathPattern=".*\\.dlc"/>
			   	<data android:scheme="file" android:host="*" android:pathPattern=".*\\.dlc"/>
            </intent-filter>
        </activity>
        <activity android:name="OverviewActivity"></activity>
        <activity android:name="QueueActivity"></activity>
        <activity android:name="CollectorActivity"></activity>
        <activity android:name="Preferences" android:label="@string/pref_name"></activity>
        <activity android:name="AddLinksActivity"></activity>
        <activity android:name=".module.FileChooser"></activity>
        
        <activity android:name="ServerSettings"></activity>

    </application>
</manifest>